{% extends 'accounts/base.html' %}

{% block body %}

{% if form.errors %}
<p> Please check the mistakes you made. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'signup' %}">
{% csrf_token %}
<table>
<tr>
<th>x</th>
<th>y</th>
</tr>
{{ form.as_table }}

<tr>
<td colspan=2><input type="submit" value="create" /></td>
</table>
<input type="hidden" name="next" value="{{ next }}" />
</form>

NB: Your account will not be functional until a superuser activates it.

{% endblock %}
