{% extends 'accounts/base.html' %}

{% block body %}
Possible exits include:
<ul>
{% if not user.is_authenticated %}
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'django.contrib.auth.views.password_reset' %}">Reset Password</a></li>
{% endif %}
{% if user.is_authenticated %}
<li><a href="{% url 'profile' %}">Profile/Update</a></li>
<li><a href="{% url 'django.contrib.auth.views.password_change' %}">Change Password</a></li>
{% endif %}
{% if user.is_superuser %}
<li><a href="{% url 'activate_users' %}">Activate Users</a></li>
{% endif %}
<li> <a href="{% url 'registration:index' %}">List of known LBWs</a></li>
</ul>
{% endblock %}
