{% extends 'accounts/base.html' %}

{% block body %}

If you don't already have a username and password, you should 
<a href="{% url 'signup' %}">create an account</a> first.<br/>
If you've forgotten your password, you can <a href="{% url 'password_reset' %}">reset it</a>, and it will be sent to your registered email address.

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ login_form.username.label_tag }}</td>
    <td>{{ login_form.username }}</td>
    {% if login_form.errors %}
    <td>{{ login_form.errors.username }}</td>
    {% endif %}
</tr>
<tr>
    <td>{{ login_form.password.label_tag }}</td>
    <td>{{ login_form.password }}</td>
    {% if login_form.errors %}
    <td>&nbsp;</td>
    {% endif %}
</tr>
</table>

{% if next %}
<input type="hidden" name="next" value="{{ next }}">
{% endif %}
<input type="submit" value="login" />
</form>

{% endblock %}
