{% extends 'accounts/base.html' %}

{% block body %}

If you don't already have a username and password, you should 
<a href="{% url 'register' %}">register</a> first.<br/>
If you've forgotten your password, you can <a href="{% url 'django.contrib.auth.views.password_reset' %}">reset it</a>, and it will be sent to your registered email address.

{% if login_form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ login_form.username.label_tag }}</td>
    <td>{{ login_form.username }}</td>
</tr>
<tr>
    <td>{{ login_form.password.label_tag }}</td>
    <td>{{ login_form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
</form>

{% endblock %}
