{% if user.is_authenticated %}
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
	        <a href="{% url 'django.contrib.auth.views.password_change' %}">Change Password</a>
            </li>
            <li>
	        <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
            </li>
            <p class="navbar-text navbar-right">Signed in as <a href="{% url 'profile' %}">{{ user.get_full_name }}</a></p>
	</ul>
    </div>
</nav>
{% endif %}
